<ion-content [fullscreen]="true" class="body">
  <div class="titulo">
    <h1 >Perfil</h1>
  </div>
        <div class="tilte-container">
          <ion-item class="Logo">
            <img src="assets/PeluDog.jpeg" alt="Imagen de registro" />
          </ion-item>
        </div>
<div class="datos-container">
  <div class="datos">
    <label>Nombre</label>
    <label>jose</label>
  </div>
    <div class="datos">
    <label>Nombre de Usario</label>
    <label></label>
  </div>
  <div class="datos">
    <label>Correo</label>
    <label></label>
  </div>
  <div class="datos">
    <label>Contacto</label>
    <label></label>
  </div>
</div>
<div class="boton">
  <button class="btn">Modificar</button>
</div>
</ion-content>