<ion-content [fullscreen]="true" class="body">
  <ion-icon class="flecha" name="arrow-undo-circle-outline"></ion-icon>

  <ion-item class="Logo">
    <img src="assets/PeluDog.jpeg" alt="Imagen de registro" />
  </ion-item>

  <form>
    <div class="form-group">
      <label position="floating">Nombre</label>
      <input type="text" name="name" required />
    </div>

    <div class="form-group">
      <label position="floating">Nombre de usuario</label>
      <input type="text" name="username" required />
    </div>
    <div class="form-group">
      <label position="floating">Correo electrónico</label>
      <input type="email" name="email" required />
    </div>
    <div class="form-group">
      <label position="floating">Contraseña</label>
      <input type="password" name="password" required />
    </div>
    <div class="form-group">
      <label position="floating">Teléfono</label>
      <input type="number" name="number" required />
    </div>
  </form>
  <ion-row>
    <ion-col class="ion-text-center">
      <button type="button" class="btn">Registrarse</button>
    </ion-col>
  </ion-row>
</ion-content>
