<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> PeluDogs </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img
  src="ff879919-8da0-4289-8a1f-b740a24a80d9.jfif"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>


  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
