
<ion-content>
  <div class="container">
    <ion-item class="fotoLogo">
      <img src="assets/PeluDog.jpeg" alt="Logo de PeluDog">
    </ion-item>
    <div class="Bienvenido">
      Bienvenido
    </div>
    <ion-item class="fotoAvatar">
      <img src="assets/Avatar.png" alt="Avatar">
    </ion-item>
  </div>
</ion-content>


  <div class="calendario">
    <ion-datetime color="rose"></ion-datetime>
  </div>

  <div >
    <button class="boton1">
      Pedir Cita
    </button>
    <button class="boton2">
      Cancelar Cita
    </button>
  </div>
  
  <div >
    <button class="boton3">
      Modificar Cita
    </button>
  </div>
 
  





