.container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre los elementos */
    padding: 20px;
  }
  
  .fotoLogo img, .fotoAvatar img {
    max-width: 50px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
    border-radius: 8px; /* Esquinas redondeadas opcionales */
  }
  .fotoAvatar img{
    width: 20px;
    height: 20px;
  }
  
  .Bienvenido {
    font-size: 32px;
    color:#CA9865 ;
    text-align: center;
    flex: 1; /* Permite que el texto ocupe el espacio disponible */
    padding: 0 20px; /* Espacio alrededor del texto */
  }
  
  .fotoLogo, .fotoAvatar {
    --background: none; /* Elimina el fondo del ion-item */
  }

:root {
  --ion-color-rose: #CA9865;
  --ion-color-rose-rgb: 202, 152, 101;
  --ion-color-rose-contrast: #ffffff;
  --ion-color-rose-contrast-rgb: 255, 255, 255;
  --ion-color-rose-shade: #b28255;
  --ion-color-rose-tint: #d4a97a;

  --ion-text-color: #CA9865;
  --ion-text-color-rgb: 202, 152, 101;

  --ion-color-step-50: #f9e6e9;
  --ion-color-step-100: #f3dbdf;
  --ion-color-step-150: #edd0d6;
  --ion-color-step-200: #e7c5cd;
  --ion-color-step-250: #e1bac3;
  --ion-color-step-300: #dbaeba;
  --ion-color-step-350: #d5a3b1;
  --ion-color-step-400: #cf98a7;
  --ion-color-step-450: #c98d9e;
  --ion-color-step-500: #c48295;
  --ion-color-step-550: #be778b;
  --ion-color-step-600: #b86c82;
  --ion-color-step-650: #b26178;
  --ion-color-step-700: #ac566f;
  --ion-color-step-750: #a64b66;
  --ion-color-step-800: #a03f5c;
  --ion-color-step-850: #9a3453;
  --ion-color-step-900: #94294a;
  --ion-color-step-950: #CA9865;
}

.ion-color-rose {
  --ion-color-base: var(--ion-color-rose);
  --ion-color-base-rgb: var(--ion-color-rose-rgb);
  --ion-color-contrast: var(--ion-color-rose-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rose-contrast-rgb);
  --ion-color-shade: var(--ion-color-rose-shade);
  --ion-color-tint: var(--ion-color-rose-tint);
}

ion-datetime {
  --background: #e6c5a3;
  --background-rgb: 255, 241, 242;
  --color: var(--ion-color-rose); /* Añadir color personalizado */

  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
}

ion-datetime::part(day) {
  color: var(--ion-color-rose) black; /* Cambia el color de los días */
}

ion-datetime::part(month-year) {
  color: var(--ion-color-rose); /* Cambia el color del mes y año */
}

ion-datetime::part(button) {
  color: var(--ion-color-rose); /* Cambia el color de los botones */
}

ion-datatime{
    --title-color: black;
}

.calendario{
    position: relative;
    left: 4%;
    height: 400px;
}
.dayofweek{
    color: black;
}

.boton1{
    width: 25%;
    height: 40px;
    border-radius: 20px; // Hace que los botones tengan bordes curvos
    background: #ca9865; // Color de fondo del botón
    color: black; // Color del texto del botón
   
    margin-left: 70px;
}

.boton2{
    width: 25%;
    height: 40px;
    border-radius: 20px; // Hace que los botones tengan bordes curvos
    background: #ca9865; // Color de fondo del botón
    color: black; // Color del texto del botón
   margin-bottom: 20px;
    margin-left: 50px;
}
.boton3{
    width: 25%;
    height: 40px;
    border-radius: 20px; // Hace que los botones tengan bordes curvos
    background: #ca9865; // Color de fondo del botón
    color: black; // Color del texto del botón
   margin-bottom: 30px;
    margin-left: 140px;
}



